<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
</head>
<body>
    <form method="post" action="/books/book/edit/<%= book.id %>/handle">
        <label for="">Name</label>
        <input type="text" name="name" value="<%= book.name %>">
        <label for="">Author</label>
        <input type="text" name="author" value="<%= book.author %>">
        <label for="">Price</label>
        <input type="text" name="price" value="<%= book.price %>">
        <label for="">Description</label>
        <input type="text" name="description" value="<%= book.description %>">
        <button type="submit">Edit</button>
    </form>
</body>
</html>