<%- include("./header.ejs") %>
    <div>
        <h1>Orders (<%= orders.length %>)</h1>
        <hr>
        <% for(let i=0; i < orders.length; i++){ %>
            <ul>
                <% for(let j=0; j < orders[i].orderId.books.length; j++){ %>
                    <li>
                        <%= orders[i].orderId.books[j].bookId.name %> (<%= orders[i].orderId.books[j].quantity %>)
                    </li>
                    <% } %>
            </ul>
            <hr>
            <% } %>
    </div>
    <% if(orders.length){ %>
    <a href="/checkout">Create Order</a>
    <% } %>
    <%- include("./footer.ejs") %>