<%- include("./header.ejs") %>
    <div>
        <h1>Orders (<%= orders.length %>)</h1>
        <hr>
        <% for(let i=0; i < orders.length; i++){ %>
            <ul>
                <% for(let j=0; j < orders[i].books.length; j++){ %>
                    <li>
                        <%= orders[i].books[j].name %> (<%= orders[i].books[j].quantity %>)
                    </li>
                    <% } %>
            </ul>
            <hr>
            <% } %>
    </div>
    <%- include("./footer.ejs") %>