<%- include("./header.ejs") %>
    <img height="200" src="/<%= book.image %>" alt="<%= book.name %>">
    <table>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <%= book.name %>
            </td>
            <td>
                <%= book.author %>
            </td>
            <td>
                <%= book.price %>
            </td>
            <td>
                <%= book.description %>
            </td>
        </tr>
    </table>
    <%- include("./footer.ejs") %>